* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    background-color: var(--primary);
}

:root {
    --primary: #1D428A;
    --secondary: #C8102E;
    --white: #FFFFFF;
    --accent-one: #000000;
    --accent-two: #E4E5E6;
}